<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<p th:text="${book.getTitle() + ', ' + book.getAuthor() + ' ,' + book.getYear }">VALUE</p>
<form th:method="POST" th:action="@{/books/add}">
    <label for="person">select people: </label>
    <select th:object="${person}" th:field="*{id}" id="person">
        <option th:each="person :${people}" th:value="${person.getId()}"
        th:text="person.getName()"> </option>
    </select>
    <input type="submit" value="choose people"/>
</form>
<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>